!!! XML
!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%title= "#{title}"
		%script{:type => "text/javascript", :src  => "#{@server}/js/jquery-1.6.4.min.js"}
		%link{:rel => "stylesheet", :href => "#{@server}/css/style.css"}
		%link{:rel => "stylesheet", :media => "only screen and (max-device-width: 980px)", :href => "#{@server}/css/mobile.css"}
		%script{:type => "text/javascript", :src  => "#{@server}/js/functions.js"}
	%body		
		#wrapper
			#header.clearfix
				#nav_div	
					%nav
						%span
							%a{:href => "#{log_state_url}", :log_state => "#{log_state}"} #{log_state}
				#logo
					%a{:href => "/", :title => "XBee Remote Control"}
						#text_logo XBee Remote Control
			#main
				=yield
			#footer
							
